.products {
  padding: 2em 10em;

  h2 {
    font-family: $font-primary;
    color: $dark-color;
    font-size: 1.2em;
    margin-bottom: 1.5em;
    letter-spacing: 0.05em;
    text-align: left;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    gap: 1.5em;
    justify-items: center;
    max-width: 100%;
    box-sizing: border-box;
    transition: border-color 0.6s ease-in-out;
  }

  .product-card {
    background-color: $light-color;
    display: flex;
    flex-direction: column;
    border: 0.20em solid $dark-color;
    border-radius: 2em;
    height: 15em;
    width: 12em;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.6s ease-in-out, color 0.6s ease-in-out;

    &:hover {
      transform: translateY(-0.2em);
      @include soft-shadow;
      cursor: pointer;
    }

    .card-top {
      background-color: $light-color;
      border-bottom: 0.20em solid $dark-color;
      border-radius: 1em;
      height: 10em;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      transition: border-color 0.6s ease-in-out;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1em;
      }
    }

    .card-bottom {
      background-color: $light-color;
      border-radius: 0 0 1em 1em;
      padding: 0.8em 1em;
      text-align: left;

      .info {
        h3 {
          font-family: $font-secondary;
          font-size: 0.9em;
          color: $dark-color;
          margin-left: 0.2em;
          transition: color 0.6s ease-in-out;

        }

        .price {
          font-family: $font-secondary;
          font-size: 0.85em;
          font-weight: 500;
          color: $dark-color;
          transition: color 0.6s ease-in-out;
        }
      }

      @include mobile {
        padding: 0.3em 0.8em;
      }
    }
  }

  @include laptop {
    padding: 2em 4em;
  }

  @include tablet {
    padding: 2em 2em;
  }

  @include mobile {
    padding: 1.5em 1em;
  }
}

body.hello-kitty {
  .product-card {
    border-color: $kitty-secondary;
  }

  .products .product-card .card-bottom .info h3,
  .products .product-card .card-bottom .info .price {
    color: $kitty-secondary;
  }

  .product-card .card-top {
    border-bottom-color: $kitty-secondary;
  }
}

body.kuromi {
  .product-card {
    border-color: $kuromi-secondary;
  }

  .products .product-card .card-bottom .info h3,
  .products .product-card .card-bottom .info .price {
    color: $kuromi-secondary;
  }

  .product-card .card-top {
    border-bottom-color: $kuromi-secondary;
  }
}

body.cinnamonroll {
  .product-card {
    border-color: $cinnamon-secondary;
  }

  .products .product-card .card-bottom .info h3,
  .products .product-card .card-bottom .info .price {
    color: $cinnamon-secondary;
  }

  .product-card .card-top {
    border-bottom-color: $cinnamon-secondary;
  }
}

body.my-melody {
  .product-card {
    border-color: $melody-secondary;
  }

  .products .product-card .card-bottom .info h3,
  .products .product-card .card-bottom .info .price {
    color: $melody-secondary;
  }

  .product-card .card-top {
    border-bottom-color: $melody-secondary;
  }
}

body.pompompurin {
  .product-card {
    border-color: $purin-secondary;
  }

  .products .product-card .card-bottom .info h3,
  .products .product-card .card-bottom .info .price {
    color: $purin-secondary;
  }

  .product-card .card-top {
    border-bottom-color: $purin-secondary;
  }
}

body.pochacco {
  .product-card {
    border-color: $pochacco-secondary;
  }

  .products .product-card .card-bottom .info h3,
  .products .product-card .card-bottom .info .price {
    color: $pochacco-secondary;
  }

  .product-card .card-top {
    border-bottom-color: $pochacco-secondary;
  }
}

.promo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  padding: 2em 10em;
  height: 90vh;

  .promo-item {
    border: 0.20em solid $dark-color;
    border-radius: 1em;
    @include soft-shadow;
    min-height: 200px;

    &:hover {
      transform: translateY(-0.2em);
      @include soft-shadow;
    }
  }

  .item1 {
    background-image: url(../media/calendario.png);
    background-size: cover;
    background-position: center;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      margin: 1em;
      font-family: $font-primary;
      color: $dark-color;
      background-color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      padding: 0.2em 0.5em;
      border-radius: 0.5em;
    }
  }

  .item2 {
    background-image: url(../media/fondos.png);
    background-size: cover;
    background-position: center;
    grid-row: 1 / 3;
    grid-column: 2 / 3;

    display: flex;
    justify-content: center;
    align-items: center;


    h2 {
      margin: 1em;
      font-family: $font-primary;
      color: $dark-color;
      background-color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      padding: 0.2em 0.5em;
      border-radius: 0.5em;
    }

        @include mobile {
      align-items: center;
    }
  }

  .item3 {
    background-image: url(../media/stickers.png);
    background-size: cover;
    background-position: center;
    grid-row: 2 / 4;
    grid-column: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: start;

    h2 {
      margin: 1em;
      font-family: $font-primary;
      color: $dark-color;
      background-color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      padding: 0.2em 0.5em;
      border-radius: 0.5em;
    }

        @include mobile {
      align-items: center;
    }
  }

  .item4 {
    background-image: url(../media/dibujar.png);
    background-size: cover;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 2 / 3;

    display: flex;
    justify-content: center;
    align-items: start;

    h2 {
      margin: 1em;
      font-family: $font-primary;
      color: $dark-color;
      background-color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      padding: 0.2em 0.5em;
      border-radius: 0.5em;
    }

    @include mobile {
      align-items: center;
    }
  }

  @include laptop {
    padding: 2em 4em;
  }

  @include tablet {
    padding: 2em 2em;
  }

  @include mobile {
    padding: 1.5em 1em;
  }

}