body.hello-kitty {
  background-color: $light-color;
}

body.kuromi {
  background-color: $kuromi-primary;
}

body.cinnamonroll {
  background-color: $cinnamon-primary;
}

body.my-melody {
  background-color: $melody-primary;
}

body.pompompurin {
  background-color: $purin-primary;
}

body.pochacco {
  background-color: $pochacco-primary;
}